/* ----------------------------------------- CORES DO SITE ------------------------------------------------*/
:root{
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color:#0ef;
}

/* ----------------------------------------- DEFENIÇOES DO SITE EM GERAL ------------------------------------------------*/

body {
    /* COR DO BACKGROUND DO SITE */
    background-color: var(--bg-color);

    /* POSIÇÃO DO CORPO DO SITE */
    position: relative;
}

main{
    /* ESPAÇAMENTO DE CIMA, DE BAIXO E DOS LADOS DO SITE EM GERLA*/
    padding: 3%;

    /* COR DO TEXTO EM GERAL DO SITE */
    color: var(--text-color);
}


/* ----------------------------- TITULO ----------------------------- */

/* Class do titulo do corpo da pagina*/
.titulo{
    /* Tamanho da letra */
    font-size: 70px;

    /* texto centralizado */
    text-align: center;

    /* Afastamento para baixo */
    padding-bottom: 10%;  
}

/* CHAMDA DO ID QUE CRIA O SUBLINHADO */
#Piano{
    /* cor do sublinhado */
    text-decoration: underline blue;

    /* cor do texto */
    color: white;
}

/* Class dos subtitulos */
.txtpianoinicial h1{
    /* tamanho do texto */
    font-size: 40px;

    /* afastamento de cima e de baixo */
    padding-top: 1%;
    padding-bottom: 1%;
}


.img-docentralpiano,
.img-notaspiano
{
    /* Afastamento de cima */
    padding-top: 2%;

    /* Imagem centralizada */
    text-align: center;
}


/* CLASS das politicas de privacidade */
.politicasprivacidade{
    padding-top: 2%;
    text-align: center;
}


